h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
strong {
  font-family: "Poppins", sans-serif;
}
html{
  background-color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFF;
  padding: 0px !important;
  margin: 0px !important;
}

#intro {
  background-color: #000;
}

.intro {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23404040' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cccccc' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23404040' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23cccccc' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23404040' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23cccccc' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23404040' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23cccccc' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23404040' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23cccccc' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23404040' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23cccccc' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#intro-content {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  background-color: #404040;
  border-right: 5px solid #FFF;
}

#skills {
  background-color: #000;
  border-left: 5px solid #FFF;


}

#sky {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 50vh;
  width: 99vw;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vw;
  /* position: fixed; */
  /* overflow: hidden; */
  transform: translatex(calc(20vw - 50%)) translatey(calc(20vh - 50%)) rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
  border-radius: 20px;
}

.anim,
.anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.anim path {
  stroke-width: 2;
}

.text-right {
  text-align: right;
}


.wave-top {
  width: 100%;
}

#projects {
  background-color: #000;
  border-left: 5px solid #FFF;

}

#clients {
  background-color: #404040;
}

.g-card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(228, 228, 232, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.d-flex.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.tech-skills img {
  background: #FFF;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 992px) {

  .px-lg-5,
  .py-lg-5 {
    padding: 4rem !important;
  }
}

.g-card.services {
  transition: all 0.3s ease-in-out;
}

.g-card.services:hover {
  transform: scale(1.1);
}

.g-card.services h4 {
  text-align: center;
  font-weight: bold;
}
.p-terminal.p-component{
  background: #000;
  border-radius: 10px;
  padding: 2rem;
  height: 50vh;
}


#path26 {
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  fill: #404040;
}

#footer {
  background: #000;
}

#services {
  background: #404040;
  border-right: 5px solid #FFF;

}
#experience{
  border-right: 5px solid #FFF;

}

.footer-content path {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 10;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.footer-content path {
  fill: #3f8dd3;
}

.p-timeline-event-separator {
  background-color: #FFF;
  width: 2px;
}

.expDate {
  opacity: 0.6 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.moving-ball {
  height: 10px;
  width: 10px;
  background-color: #FFF;
  display: inline-block;
  animation: cubeRotate 1s linear alternate infinite;

}

.contact-links {
  margin-top: 2rem;
  list-style: none;
  padding: 0px !important;
}

.contact-links li {
  margin: 10px;
}

.contact-links img {
  width: 30px !important;
}

.contact-links a {
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
  opacity: 0.8;
}
.p-terminal .welcomemessage{
  opacity: 0.6;
}
.p-terminal-prompt{
  color: #fff;
  opacity: 0.5;
}



@keyframes cubeRotate {

  from {
    background-color: #FFF;
  }

  to {
    background-color: #404040;
  }
}

#intro-content ul {
  display: flex;
  position: absolute;
  top: 0px;
  right: 20px;
}
#intro-content ul li{
  margin: 2px;
}

#intro-content ul li a{
  box-shadow: 0 8px 32px 0 rgba(228, 228, 232, 0.37);
}
.text-bold{
  font-weight: bold;
}